:root {
  --gray: #d1d1d1;
  --light-gray: #f1f1f1;
  --white: #ffffff;
  --black: black;
  --dark: #374151;

  --main: #5b21b6;
  --text: #374151;
  --bg: #ffffff;
}

[data-theme='dark'] {
  --text: #ffffff;
  --bg: #1a1a1a;
}

body {
  color: var(--text);
  background-color: var(--bg);

  ::selection {
    background-color: var(--main);
    color: var(--white);
  }
}
