:root {
  --blue: #3b82f6;
  --gray: #d1d1d1;
  --light-gray: #f1f1f1;
  --white: #ffffff;

  --text: #374151;
  --bg: #ffffff;
}

[data-theme='dark'] {
  --text: #ffffff;
  --bg: #374151;
}

body {
  color: var(--text);
  background-color: var(--bg);
}
